<!DOCTYPE HTML>
<html>
<head>
    <meta charset=""UTF-8">
    <title><%=title%></title>

</head>
<body>
<nav>
    //<li><a href="/">BRAR FAMILY</a></li>
    <li><a href="/Bharpur">Bharpur</a></li>
    <li><a href="/Jaswinder">Jaswinder</a></li>
    <li><a href="/Ravi">Ravi</a></li>
    <li><a href="/Harveen">Harveen</a></li>
</nav>
</body>
</html>