<% include partials/header.ejs %>
<h1><%= title %></h1>
I am Harveen Brar and now I am studying in georgian college .I will be a future programmer.And i love listening music.

<% include partials/footer.ejs %>